services:
  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    container_name: payment-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    volumes:
      - .:/app

  postgres:
    build:
      context: docker
      dockerfile: postgres.Dockerfile
    container_name: payment-postgres
    environment:
      POSTGRES_DB: payments
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
